streamlit
streamlit-folium
folium
plotly
matplotlib
pandas
numpy
requests
supabase
st-supabase-connection
st-gsheets-connection
gspread
google-auth
earthengine-api
python-docx
fpdf2==2.7.0
python-dotenv
python-dateutil
pytz
